.login-header {
  margin-top: 7rem;
  text-align: center;
}
.web-container {
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.login-container {
  width: 50vw;
  min-width: 400px;
  max-width: 600px;
  height: 50vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid gold;
  border-radius: 2rem;
  background-color: white;
}

#id {
  border: 0.5px solid dodgerblue;
  border-radius: 1rem;
  height: 2rem;
  width:70%;
  margin-bottom:1rem;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
}
#id:hover {
  background-color: rgb(206, 224, 241);
}
#password {
  border: 0.5px solid dodgerblue;
  border-radius: 1rem;
  height: 2rem;
  width:70%;
  margin-bottom:1rem;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
}
#password:hover {
  background-color: rgb(206, 224, 241);
}
label[for="id"] {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
label[for="password"] {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
.submit {
  color: black;
  width: 6rem;
  height: 2rem;
  border:0;
  border-radius: 1rem;
  background-color: rgb(224, 224, 224);
  margin-bottom: 0.7rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  padding-top: 6px;
}
.signup {
  color: black;
  width: 6rem;
  height: 2rem;
  border:0;
  border-radius: 1rem;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}
.modal-container {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.X-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 2rem;
  margin-right: 3rem;
  font-size: 3rem;
  cursor: pointer;
}
.X-button:hover {
  color: crimson;
}
